mode: rule
mixed-port: 7890
allow-lan: false
log-level: debug
ipv6: false
external-controller: 127.0.0.1:34885
secret: d53df256-8f1b-4f9b-b730-6a4e947104b6
unified-delay: true
geo-auto-update: true
geo-update-interval: 12
geodata-mode: true
geox-url:
  geoip: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.dat"
  geosite: "https://cdn.jsdelivr.net/gh/Loyalsoldier/v2ray-rules-dat@release/geosite.dat"
  mmdb: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country.mmdb"
  asn: "https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"
external-controller-cors:
  allow-private-network: true
  allow-origins:
  - '*'
dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  cache-algorithm: arc
  prefer-h3: false
  use-hosts: true
  use-system-hosts: true
  respect-rules: false
  listen: 0.0.0.0:53
  fake-ip-filter-mode: blacklist
  fake-ip-filter:
    - "*.lan"
    - "xbox.*.microsoft.com"
    - "+.xboxlive.com"
    - "+.qq.com"
    - "+.tencent.com"
    - "localhost.ptlogin2.qq.com"
    - "geosite:geolocation-cn"
    - "geosite:china-list"
    - "geosite:cn"
    - "geosite:apple"
  default-nameserver:
    - 119.29.29.29
    - 223.5.5.5
  nameserver:
    - 180.184.1.1
    - 180.76.76.7
    - 114.114.114.114
    - 123.125.81.6
    - 101.226.4.6
    - 223.5.5.5
    - 119.29.29.29
    - 114.114.114.114
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
    - https://223.5.5.5/dns-query
  fallback:
    - 1.1.1.1
    - 8.8.8.8
    - 208.67.222.222
    - https://1.1.1.1/dns-query
    - https://cloudflare-dns.com/dns-query
    - https://dns.google/dns-query
    - https://doh.opendns.com/dns-query
    - tls://1.0.0.1:853
    - tls://dns.google:853
    - tls://8.8.4.4:853
    - tls://1.1.1.1:853
  fallback-filter:
    geoip: true
    geoip-code: CN
    geosite:
      - gfw
      - geolocation-!cn
    ipcidr:
      - 240.0.0.0/4
    domain:
      - +.google.com
      - +.facebook.com
      - +.youtube.com
      - +.twitter.com
      - +.x.com
      - +.tiktok.com
      - +.xn--ngstr-lra8j.com
      - +.google.cn
      - +.googleapis.cn
      - +.gvt1.com
profile:
  store-selected: true
tun:
  auto-detect-interface: true
  auto-route: true
  device: Mihomo
  dns-hijack:
  - any:53
  enable: true
  mtu: 1500
  stack: system
  strict-route: false
proxies:
proxy-groups:
rule-providers:
  binance:
    behavior: classical
    interval: 14400
    path: ./ruleset/Binance.yaml
    type: http
    url: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Binance/Binance.yaml
  china:
    behavior: classical
    interval: 14400
    path: ./ruleset/China_Classical
    type: http
    url: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/China/China_Classical.yaml
  direct:
    behavior: domain
    interval: 14400
    path: ./ruleset/direct.yaml
    type: http
    url: https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/direct.txt
  globalMedia:
    behavior: classical
    interval: 14400
    path: ./ruleset/GlobalMedia_Classical.yaml
    type: http
    url: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/GlobalMedia/GlobalMedia_Classical.yaml
  tiktok:
    behavior: classical
    interval: 14400
    path: ./ruleset/tiktok.yaml
    type: http
    url: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/TikTok/TikTok.yaml
  reject:
    behavior: domain
    interval: 14400
    path: ./ruleset/reject.yaml
    type: http
    url: https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/reject.txt
  twitter:
    behavior: classical
    interval: 14400
    path: ./ruleset/Twitter.yaml
    type: http
    url: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/Twitter/Twitter.yaml
rules:
- GEOSITE,geolocation-cn,DIRECT
- GEOSITE,china-list,DIRECT
- GEOSITE,cn,DIRECT
- GEOSITE,apple-cn,DIRECT
- GEOSITE,google-cn,DIRECT
- GEOSITE,tld-cn,DIRECT
- GEOSITE,category-games@cn,DIRECT
- GEOIP,private,DIRECT,no-resolve
- GEOSITE,binance,DIRECT
- GEOSITE,tiktok,TIKTOK
- GEOSITE,twitter,国外媒体
- GEOSITE,category-media,国外媒体
- GEOSITE,category-entertainment,国外媒体
- DOMAIN,clash.razord.top,DIRECT
- DOMAIN,yacd.haishan.me,DIRECT
- DOMAIN,yacd.metacubex.one,DIRECT
- RULE-SET,reject,REJECT
- GEOSITE,category-ads-all,REJECT
- RULE-SET,direct,DIRECT
- RULE-SET,china,DIRECT
- GEOIP,CN,DIRECT
- MATCH,漏网之鱼
