mode: rule
mixed-port: 7890
allow-lan: false
log-level: debug
ipv6: false
tcp-concurrent: true
unified-delay: true
geodata-loader: standard
geo-auto-update: true
geo-update-interval: 12
geodata-mode: true
geox-url:
  geoip: "https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geoip.dat"
  geosite: "https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"
  mmdb: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country.mmdb"
  asn: "https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"
external-controller-cors:
  allow-private-network: true
  allow-origins:
  - '*'
dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  cache-algorithm: arc
  prefer-h3: false
  use-hosts: false
  use-system-hosts: false
  respect-rules: false
  listen: 0.0.0.0:53
  fake-ip-filter-mode: blacklist
  fake-ip-filter:
    - "*.lan"
    - "xbox.*.microsoft.com"
    - "+.xboxlive.com"
    - "localhost.ptlogin2.qq.com"
    - "rule-set:direct"
    - "rule-set:china"
    - "geosite:connectivity-check"
    - "geosite:apple-cn"
    - "geosite:google-cn"
    - "geosite:china-list"
    - "geosite:cn"
    - "geosite:category-games"
    - "geosite:private"
    - "geosite:tld-cn"
    - "geosite:geolocation-!cn@cn"
    - "geosite:geolocation-cn"
  default-nameserver:
    - 119.29.29.29
    - 223.5.5.5
  proxy-server-nameserver:
    - 119.29.29.29
    - 223.5.5.5
  nameserver-policy:
    'geosite:connectivity-check,apple-cn,google-cn,china-list,cn,category-games,private,tld-cn,geolocation-!cn@cn,geolocation-cn':
      - 101.226.4.6
      - 114.114.114.114
      - 119.29.29.29
      - 123.125.81.6
      - 180.76.76.7
      - 180.184.1.1
      - 202.103.24.68
      - 211.137.58.20
      - 218.104.111.114
      - 223.5.5.5
    'rule-set:china,direct':
      - 101.226.4.6
      - 114.114.114.114
      - 119.29.29.29
      - 123.125.81.6
      - 180.76.76.7
      - 180.184.1.1
      - 202.103.24.68
      - 211.137.58.20
      - 218.104.111.114
      - 223.5.5.5
  nameserver:
    - https://1.1.1.1/dns-query#PROXY&h3=true
    - https://8.8.8.8/dns-query#PROXY&h3=true
    - https://185.222.222.222/dns-query#PROXY
    - https://208.67.222.222/dns-query#PROXY
    - tls://1.1.1.1#PROXY
    - tls://8.8.4.4#PROXY
    - tls://185.222.222.222#PROXY
profile:
  store-selected: true
  store-fake-ip: true
tun:
  auto-detect-interface: true
  auto-route: true
  device: Mihomo
  dns-hijack:
  - any:53
  - tcp://any:53
  enable: true
  mtu: 1500
  stack: mixed
  strict-route: false
proxies:
proxy-groups:
rule-providers:
  china:
    behavior: classical
    interval: 14400
    path: ./ruleset/China_Classical
    type: http
    url: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/China/China_Classical.yaml
  direct:
    behavior: domain
    interval: 14400
    path: ./ruleset/direct.yaml
    type: http
    url: https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/direct.txt
  reject:
    behavior: domain
    interval: 14400
    path: ./ruleset/reject.yaml
    type: http
    url: https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/reject.txt
rules:
- GEOSITE,category-ads-all,REJECT
- RULE-SET,reject,REJECT
- RULE-SET,direct,DIRECT
- RULE-SET,china,DIRECT
- GEOSITE,connectivity-check,DIRECT
- GEOSITE,apple-cn,DIRECT
- GEOSITE,google-cn,DIRECT
- GEOSITE,china-list,DIRECT
- GEOSITE,cn,DIRECT
- GEOSITE,category-games,DIRECT
- GEOSITE,binance,BINANCE
- GEOSITE,private,DIRECT
- GEOSITE,tld-cn,DIRECT
- GEOSITE,geolocation-!cn@cn,DIRECT
- DOMAIN,clash.razord.top,DIRECT
- DOMAIN,yacd.haishan.me,DIRECT
- DOMAIN,yacd.metacubex.one,DIRECT
- GEOSITE,geolocation-cn@!cn,PROXY
- GEOSITE,geolocation-cn,DIRECT
- GEOSITE,tiktok,TIKTOK
- GEOSITE,openai,OPENAI
- GEOSITE,twitter,媒体影音
- GEOSITE,category-media,媒体影音
- GEOSITE,category-entertainment,媒体影音
- GEOSITE,gfw,PROXY
- GEOSITE,geolocation-!cn,PROXY
- GEOIP,telegram,PROXY,no-resolve
- GEOIP,US,PROXY
- GEOIP,CN,DIRECT
- GEOIP,private,DIRECT
- MATCH,漏网之鱼
