mode: rule
mixed-port: 7890
allow-lan: false
log-level: error
ipv6: false
tcp-concurrent: true
unified-delay: false
geodata-loader: standard
geo-auto-update: true
geo-update-interval: 12
geodata-mode: true
geox-url:
  geoip: "https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geoip.dat"
  geosite: "https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"
  mmdb: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country.mmdb"
  asn: "https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"
external-controller-cors:
  allow-private-network: true
  allow-origins:
  - '*'
dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  cache-algorithm: arc
  prefer-h3: false
  use-hosts: false
  use-system-hosts: false
  respect-rules: false
  listen: 0.0.0.0:53
  fake-ip-filter-mode: whitelist
  fake-ip-filter:
    - "geosite:gfw"
  default-nameserver:
    - 119.29.29.29
    - 223.5.5.5
  proxy-server-nameserver:
    - 119.29.29.29
    - 223.5.5.5
  nameserver: &proxyDNS
    - 1.1.1.1
    - 8.8.8.8
    - 9.9.9.9
    - 185.222.222.222
    - 208.67.222.222
    - doh.apad.pro
  nameserver-policy:
    'rule-set:direct,apple,icloud': &directDNS
      - 114.114.114.114
      - 119.29.29.29
      - 211.136.17.107
      - 211.136.20.203
      - 211.137.58.20
      - 211.137.64.163
      - 223.5.5.5
    'geosite:cn,connectivity-check,private,category-speedtest@cn': *directDNS
profile:
  store-selected: true
  store-fake-ip: true
tun:
  auto-detect-interface: true
  auto-route: true
  device: Mihomo
  dns-hijack:
  - any:53
  enable: true
  mtu: 1500
  stack: mixed
  strict-route: false
proxies:
proxy-groups:
rule-providers:
  direct:
    behavior: domain
    interval: 14400
    path: ./ruleset/direct.txt
    type: http
    url: https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/direct.txt
  apple:
    behavior: domain
    interval: 14400
    path: ./ruleset/apple.txt
    type: http
    url: https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/apple.txt
  icloud:
    type: http
    behavior: domain
    interval: 14400
    path: ./ruleset/icloud.txt
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/icloud.txt"
  proxy:
    behavior: domain
    interval: 14400
    path: ./ruleset/proxy.txt
    type: http
    url: https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/proxy.txt
rules:
- RULE-SET,direct,直连规则
- GEOSITE,cn,直连规则
- GEOSITE,connectivity-check,直连规则
- RULE-SET,apple,直连规则
- RULE-SET,icloud,直连规则
- GEOSITE,private,直连规则
- GEOSITE,category-speedtest@cn,直连规则
- GEOIP,CN,直连规则,no-resolve
- GEOSITE,category-games-!cn,GAME
- GEOSITE,binance,BINANCE
- GEOSITE,tiktok,TIKTOK
- GEOSITE,category-ai-!cn,AI
- GEOSITE,geolocation-!cn,全球互联
- GEOSITE,gfw,全球互联
- GEOSITE,tld-!cn,全球互联
- GEOIP,telegram,全球互联,no-resolve
- RULE-SET,proxy,全球互联
- MATCH,漏网之鱼
